.hero {
  max-width: 696px;
  margin: auto;
  text-align: center;
}

.hero__btn {
  background-color: $accent-color;
  color: $tertiary-color;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
