$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;
$primary-color: #212121;
$secondary-color: #757575;
$tertiary-color: #fff;
$accent-color: #2196f3;
$light-bg-color: #f5f4fa;
$dark-bg-color: #2f303a;
$social-color: #afb1b8;
