.features {
  text-align: center;
  @media (min-width: 768px) {
    text-align: left;
  }
}

.features__list {
  display: block;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.features__items {
  &:not(:last-child) {
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: 768px) {
    flex-basis: 270px;
    margin-bottom: 0;
  }
}

.features__description {
  &::before {
    content: '';
    display: block;
    margin-bottom: 30px;
    height: 120px;
    background-color: #f5f4fa;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
  }
}

@each $pic in antenna, clock, diagram, astronaut {
  .icon-#{$pic}::before {
    background-image: url('../images/features/#{$pic}.svg');
  }
}

.features__description {
  margin-bottom: 10px;
  font-weight: 700;
}

.features__text {
  color: $secondary-color;
  line-height: 1.7;
}
