.team {
  background-color: $light-bg-color;
}

.team__list {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.team__items {
  &:not(:last-child) {
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }
}

.team__link {
  // display: block;
  text-decoration: none;
  color: inherit;
}
